{% set architecture = salt['grains.get']('cpuarch') %}
{% set java = salt['grains.filter_by']({
    'Debian': {}
    }, merge=salt['grains.filter_by']({
        'xenial': {
            'jdk': {
                'package': 'openjdk-8-jdk',
                'alternative': 'java-1.8.0-openjdk-' + architecture,
                'alternative_path': '/usr/lib/jvm/java-1.8.0-openjdk-' + architecture + '/bin/java',
                'java_home': '/usr/lib/jvm/java-1.8.0-openjdk-' + architecture
            },
            'jre': {
                'package': 'openjdk-8-jre-headless',
                'alternative': 'java-1.8.0-openjdk-' + architecture,
                'alternative_path': '/usr/lib/jvm/java-1.8.0-openjdk-' + architecture + '/bin/java',
                'java_home': '/usr/lib/jvm/java-1.8.0-openjdk-' + architecture
            }
        }
    }, grain='oscodename', merge=salt['pillar.get']('java:lookup'))) %}
